:root {
  --dirty-green: #849D8F;
  --basic-white: #FFFFFF;
  --crimson: #dc143c;
  --black-custom: #323232;
  --grey: #F8F7F4;
  --light-grey: #FEFEFE;
}

body {
  min-width: 1146px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--dirty-green);
}

.body::before {
  content: url(../img/promotions-background.png);
  width: 716px;
  height: 716px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-308px);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1146px;
  padding-left: 27px;
  padding-right: 27px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation {
  display: flex;
  margin-top: 9px;
}

.navigation__list {
  display: flex;
  flex-direction: row;
}

.navigation__list-item {
  margin-right: 32px;
  position: relative;
}

.navigation__list-itea:last-child {
  margin-right: 0px;
}

.navigation__list-item::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--basic-white);
  opacity: 0.2;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  width: 100%;
}

.navigation__user {
  justify-self: flex-end;
}

.navigation__user-item {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  margin-right: 10px;
  z-index: 0;
}

.navigation__user-item--cart a{
  background-color: #FFFFFF;
  color: var(--black-custom);
}

.navigation__user-item--cart::before {
  content: url(../img/red-cart.svg);
  position: absolute;
  top: 4.5px;
  left: 21px;
  width: 12.76px;
  height: 9px;
}

.navigation__search::before {
  content: url(../img/search-icon.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 8px;
  color: var(--basic-white);
  z-index: 1;
}

.navigation__user-item:last-child {
  margin-right: 0;
}

.navigation__user-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 16px 7px 16px;
  border-radius: 20px;
}

.navigation__user-link svg {
  margin-right: 8px;
}

.navigation__modal-wrapper {
  display: block;
  width: 143px;
  color: var(--black-custom);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: var(--basic-white);
  padding: 13px 20px 10px 21px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  border-radius: 4px;
  top: 10px;
  left: -21px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}



.navigation__modal-title {
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 23px 0;
}

.navigation__modal-wrapper::before {
  content: "";
  width: 128px;
  height: 1px;
  position: absolute;
  top: 38px;
  left: 6px;
  background-color: rgba(50, 50, 50, 0.2);
  ;
  z-index: 10;
}

.navigation__modal-item {
  margin-bottom: 9px;
}

.navigation__modal-link {
  color: inherit;
}

.navigation__login-form {
  display: flex;
  width: 277px;
  flex-direction: column;
  background-color: #F8F7F4;
  position: absolute;
  top: 36px;
  right: 0;
  padding: 20px 17px 22px 19px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.navigation__login-input {
  width: 241px;
  height: 42px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
}

.navigation__login-input[placeholder="email@example.com"] {
  padding-left: 14px;
  opacity: 0.5;
}

.navigation__login-links-wrapper {
  display: flex;
  color: var(--black-custom);
  justify-content: space-between;
}

.navigation__login-link {
  font-size: 12px;
  line-height: 15px;
  color: inherit;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.navigation__registration-wrapper {
  width: 119px;
}

.navigation__search-form {
  display: block;
  width: 341px;
  height: 84px;
  background-color: #F8F7F4; ;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 36px;
  right: 0;
  padding: 20px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);

}

.navigation__search-input {
  width: 311px;
  height: 42px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
}

.navigation__search-input[placeholder="Крем брюле"] {
  padding-left: 14px;
  opacity: 0.5;
}

.logo {
  margin-right: 24px;
}

.header {
  position: relative;
}

.header__information {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  position: absolute;
  top: 76px;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header__information-time {
  display: block;
  text-align: right;
  height: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
}

.header__information-tel {
  display: block;
  height: 24px;
  font-size: 22px;
  line-height: 24px;
}

.promotions {
  margin-bottom: 524px;
}

.promotions__list-item {
  position: relative;
  text-align: center;
}

.promotions__item-img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.promotions__item-img--big {
  left: 277px;
  z-index: 1;
}

.promotions__item-img--small {
  left: 591px;
  top: 43px;
  z-index: 0;
}

.promotions__item-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  width: 700px;
  margin: 0px;
}

.promotions__text-wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.special-offers {
  margin-bottom: 40px;
}

.special-offers__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.special-offers__item {
  display: flex;
  flex-direction: column;
  width: 514px;
  height: 197px;
  padding: 16px 30px 16px 16px;
  border-radius: 20px;
}

.special-offers__item--raspberries {
  background-image: url(../img/Raspberries.png);
  background-color: var(--crimson);
  background-repeat: no-repeat;
  width: 530px;
  padding-right: 14px;
}

.heading {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.heading--special-offers {
  margin-bottom: 16px;
}

.special-offers__item--chocolate {
  background-image: url(../img/Chocolate.png);
  background-color: var(--crimson);
  background-repeat: no-repeat;
  background-color: brown;
}

.special-offers__text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 41px;
}

.link {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 21px;
  border-radius: 70px;
  margin-left: auto;
}

.link--red {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}

.button {
  display: flex;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-white);
  line-height: 24px;
  padding: 12px 21px;
  border: 0px;
  border-radius: 70px;
}

.button--red {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}

.icecream {
  margin-bottom: 40px;
}

.icecream__list {
  display: flex;
  flex-direction: row;
}

.icecream__list-item {
  display: flex;
  flex-direction: column;
  width: 293px;
  position: relative;
}

.icecream__list-item:hover .icecream__focus-block {
  display: flex;
}

.icecream__list-item:hover:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  width: 293px;
  position: absolute;
  top: -6px;
  height: calc(100% + 6px);
  border-radius: 4px 4px 0 0;
}

.icecream__item-elements::before {
  content: url(../img/Hit-back.png);
  position: absolute;
  top: 0;
  left: 13px;
  z-index: 2;
}

.icecream__item-elements::after {
  content: url(../img/Hit-word.png);
  position: absolute;
  top: 17px;
  left: 27px;
  z-index: 3;
}

.icecream__item-img {
  position: absolute;
  top: 0;
  left: 13px;
  z-index: 1;
}

.icecream__price-weight {
  margin-top: 0;
  margin-bottom: 33px;
  z-index: 1;
  margin-top: 216px;
  text-shadow: 0px 1px 3px #31323580;
}

.icecream__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  z-index: 1;
  margin-left: 13px;
}

.icecream__weight {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  z-index: 1;
}

.icecream__description {
  margin: 0px;
  text-align: center;
}

.icecream__description span {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-bottom: 1px solid rgba(178, 178, 178, 0.52);
}

.icecream__focus-block {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 293px;
  height: 76px;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 0 4px 4px;
}

.glacy-shop {
  display: flex;
  color: var(--black-custom);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 23px 25px 20px;
  background-image: url(../img/wafer-pattern.png);
  border-radius: 16px;
  width: 1103px;
  margin-bottom: 40px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 21px;
}

.glacy-shop__advantages {
  display: flex;
  width: 481px;
  position: relative;
  margin-left: 55px;
  margin-bottom: 33px;
}

.glacy-shop__advantages:nth-child(even) {
  margin-left: 0px;
}

.glacy-shop__advantages:last-child,
.glacy-shop__advantages:nth-last-child(2) {
  margin-bottom: 0px;
}

.glacy-shop__text {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  font-weight: 400;
}

.glacy-shop__img {
  position: absolute;
  top: -3px;
  left: -41px;
  width: 24px;
  height: 32px;
}

.glacy-shop__advantages::before {
  content: "";
  width: 49px;
  height: 49px;
  border: 2px solid #323232;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: -56px;
}


.glacy-shop__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news__item {
  display: flex;
  flex-direction: column;
  color: var(--black-custom);
  width: 520px;
  height: 174px;
  padding: 23px 20px;
  background-image: url(../img/background-strawberryjpg.jpg);
  background-color: var(--basic-white);
  border-radius: 16px;

}

.news__item-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news__item-text-wrapper {
  width: 283px;
  margin: 0;
}

.news__item-text {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  letter-spacing: -1px;
  border-bottom: 2px solid;
}

.news__subscribe {
  display: block;
  background-image: url(../img/email-background.png);
  padding: 5px 6px;
  width: 548px;
  height: 210px;
}

.news__subscribe-wrapper {
  width: 509px;
  height: 171px;
  background-color: var(--grey);
  border-radius: 16px;
  padding: 29px 19px 10px 20px;
}

.news__subscribe-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 47px 0;
}

.news__subscribe-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.news__subscribe-input {
  width: 352px;
  height: 42px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.news__subscribe-input[placeholder="email@example.com"] {
  padding-left: 14px;
  opacity: 0.5;
}

.button--narrow {
  padding: 10px 17px;
  margin: 0;
}

.map {
  min-width: 1200px;
  position: relative;
  color: var(--black-custom);
  margin-bottom: 18px;
}

.map::before {
  content: url("../img/pin-map.svg");
  width: 140px;
  height: 80px;
  position: absolute;
  top: 94px;
  left: 316px;
}

.map__adress-field {
  height: 240px;
  width: 256px;
  padding: 32px 25px 31px;
  background-color: var(--light-grey);
  border-radius: 16px;
  position: absolute;
  top: 62px;
  right: 54px;
}

.map__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  width: 155px;
}

.map__adress {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 23px;
}

.map__phone-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 172px;
  margin: 0;
  margin-bottom: 23px;
}

.map__tel {
  color: var(--black-custom);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map__feedback {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 477px;
  box-sizing: border-box;
  padding: 20px 25px 25px 24px;
  background-color: #F8F7F4;;
  border-radius: 6px;
}

.map__feedback-close {
  background-color: transparent;
  border: 0px;
  width: 18px;
  height: 17px;
  position: absolute;
  top: 15px;
  right: 16px;
  padding: 0;
}

.map__feedback-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 26px;
}

.map__feedback-form {
  display: flex;
  flex-direction: column;
}

.map__feedback-input {
  width: 267px;
  height: 42px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.map__feedback-input[placeholder="email@example.com"],
.map__feedback-input[placeholder="Имя Фамилия"] {
  padding-left: 14px;
  opacity: 0.5;
}

.map__feedback-comment {
  width: 428px;
  height: 154px;
  resize: none;
  color:#999999;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 14px;
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  margin-bottom: 25px;
}

.map__feedback-comment[placeholder="В свободной форме"] {
  opacity: 0.5;
}

.button--right {
  align-self: flex-end;
}


.button--wide {
  width: 100%;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 164px;
}

.socials__list-link {
  display: block;
  width: 32px;
  height: 32px;
}


.socials__list-icon {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.about-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 306px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
}

.about-list__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.about-list__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-list__link--favourite {
  font-weight: 700;
  position: relative;
}


.about-list__link--favourite::before {
  content: url(../img/heart.svg);
  width: 15px;
  height: 13px;
  position: absolute;
  top: 0;
  left: -20px;
}

.html-block__logo {
  padding-left: 33px;
}

.html-block__text {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.html-block__academy-link {
  display: inline;
  position: relative;
}

.html-block__academy-link::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 13px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

/*Каталог*/



